<div *ngIf="videoService.videoCallPrompt" role="dialog" aria-labelledby="videoConsultationTitle" aria-modal="true">
  <mat-card class="mainCard">
    <button
      mat-icon-button
      class="close-button"
      (click)="endConsultation()"
      aria-label="Close">
      <mat-icon>close</mat-icon>
    </button>

    <h2 id="videoConsultationTitle" class="title">Video Consultation Consent</h2>
    <p>
      By agreeing, your consent to a secure video consultation,
      understanding that your data will be handled confidentially.
    </p>

    <div class="consent-actions">
      <button class="buttonColorGreen  buttonWidth" mat-raised-button (click)="handleConsent(true)" [disabled]="videoService.videoConsultationAvailable">
        Agree
      </button>
      <button class="buttonColorRedish  buttonWidth" mat-raised-button (click)="handleConsent(false)" [disabled]="videoService.videoConsultationAvailable">
        Disagree
      </button>
    </div>

    <div *ngIf="videoService.videoConsultationAvailable" style="margin-top: 10px;">
      <p>Note: We are continuing the video consultation on agreeing by Beneficiary.</p>
      <h2 class="title">Video Consultation</h2>

      <button (click)="sendOrResendLink()" [disabled]="videoService.linkSent" class="btn btn-primary">
        Send Video Consultation Link
      </button>

      <!-- Troubleshooting Steps -->
      <div *ngIf="videoService.receiptConfirmation === 'Not Received'" class="troubleshooting link-status">
        <p class="troubleshoot-message">Troubleshooting Steps:</p>
        <ul>
          <li>Verify the beneficiary’s phone number and email.</li>
          <li>Resend the link if needed.</li>
        </ul>
        <button (click)="sendOrResendLink()" class="btn btn-warning ">
          Resend Link
        </button>
      </div>

      <h2 class="title">Link Sent Status:
        <span
          [ngClass]="{ 'sent': videoService.linkStatus !== 'Not Sent', 'not-sent': videoService.linkStatus === 'Not Sent' }"
          aria-live="polite">
          {{ videoService.linkStatus }}
        </span>
      </h2>

      <div class="form-group receipt-container" *ngIf="videoService.linkStatus === 'Sent Successfully'">
        <h2 class="title">Beneficiary Link Receipt Confirmation:</h2>
        <select [(ngModel)]="videoService.receiptConfirmation" class="form-control" (change)="updateReceiptConfirmation($event)">
          <option value="">Select</option>
          <option value="Received">Received</option>
          <option value="Not Received">Not Received</option>
        </select>
      </div>

      <button
        (click)="startConsultation()"
        [disabled]="videoService.receiptConfirmation !== 'Received'"
        class="btn btn-success  mt-3">
        Start Video Consultation
      </button>


        <button *ngIf="videoService.callStatus === 'Ongoing'"
                (click)="endConsultation()"
                class="btn btn btn-danger  mt-3 ">
          End Video Consultation
        </button>
      <!-- </div> -->

      <!-- Consultxation Status -->
      <h2>
        <strong>Consultation Status:</strong>
        <span
          [ngClass]="{
            'not-initiated': videoService.callStatus === 'Not Initiated',
            'ongoing': videoService.callStatus === 'Ongoing',
            'completed': videoService.callStatus === 'Completed'
          }">
          {{ videoService.callStatus }}
        </span>
      </h2>

      <!-- Alternative Consultation Message -->
      <div *ngIf="!videoService.videoConsultationAvailable" class="alternative-message">
        <p>Video consultation is not possible. Proceed with the ECD questionnaire workflow.</p>
        <button class="btn btn-primary">Continue with Alternative Consultation</button>
      </div>
    </div>
  </mat-card>
</div>
