<div *ngIf="videoService.videoCallPrompt" role="dialog" aria-labelledby="videoConsultationTitle" aria-modal="true">
  <mat-card class="mainCard">
    <button
      mat-icon-button
      class="close-button"
      (click)="endConsultation()"
      aria-label="Close">
      <mat-icon>close</mat-icon>
    </button>

    <h2 id="videoConsultationTitle" class="title">Video Consultation Consent</h2>
    <p>
      {{this.currentLanguageSet.consentMessage}}
    </p>

    <div class="consent-actions">
      <button class="buttonColorGreen  buttonWidth" mat-raised-button (click)="handleConsent(true)" [disabled]="videoService.videoConsultationAvailable">
        {{this.currentLanguageSet.agree}}
      </button>
      <button class="buttonColorRedish  buttonWidth" mat-raised-button (click)="handleConsent(false)" [disabled]="videoService.videoConsultationAvailable">
        {{this.currentLanguageSet.disagree}}
      </button>
    </div>

    <div *ngIf="videoService.videoConsultationAvailable" style="margin-top: 10px;">
      <p>{{this.currentLanguageSet.agreeNote}}</p>
      <h2 class="title">{{this.currentLanguageSet.videoConsultation}}</h2>

      <button (click)="sendOrResendLink()" [disabled]="videoService.linkSent" class="btn btn-primary">
        {{this.currentLanguageSet.sendVCLink}}
      </button>

      <!-- Troubleshooting Steps -->
      <div *ngIf="videoService.receiptConfirmation === 'Not Received'" class="troubleshooting link-status">
        <p class="troubleshoot-message">{{this.currentLanguageSet.troubleshootingSteps}}:</p>
        <ul>
          <li>{{this.currentLanguageSet?.step1}}</li>
          <li>{{this.currentLanguageSet?.step2}}</li>
        </ul>
        <button (click)="sendOrResendLink()" class="btn btn-warning ">
           {{this.currentLanguageSet.resendVCLink}}
        </button>
      </div>

      <h2 class="title">{{ this.currentLanguageSet.linkStatus }}:
        <span
          [ngClass]="{ 'sent': videoService.linkStatus !== 'Not Sent', 'not-sent': videoService.linkStatus === 'Not Sent' }"
          aria-live="polite">
          {{ videoService.linkStatus }}
        </span>
      </h2>

      <div class="form-group receipt-container" *ngIf="videoService.linkStatus === 'Sent Successfully'">
        <h2 class="title">{{this.currentLanguageSet?.receiptConfirmation}}</h2>
        <select [(ngModel)]="videoService.receiptConfirmation" class="form-control" (change)="updateReceiptConfirmation($event)">
          <option value="">Select</option>
          <option value="Received">{{this.currentLanguageSet?.received}}</option>
          <option value="Not Received">{{this.currentLanguageSet?.notReceived}}</option>
        </select>
      </div>

      <button
        (click)="startConsultation()"
        [disabled]="videoService.receiptConfirmation !== 'Received'"
        class="btn btn-success  mt-3">
        {{this.currentLanguageSet?.startVideoConsultation}}
      </button>


        <button *ngIf="videoService.callStatus === 'Ongoing'"
                (click)="endConsultation()"
                class="btn btn btn-danger  mt-3 ">
          {{this.currentLanguageSet?.endVideoConsultation}}
        </button>
      <!-- </div> -->

      <!-- Consultxation Status -->
      <h2>
        <strong>{{this.currentLanguageSet?.consultationStatus}}:</strong>
        <span
          [ngClass]="{
            'not-initiated': videoService.callStatus === 'Not Initiated',
            'ongoing': videoService.callStatus === 'Ongoing',
            'completed': videoService.callStatus === 'Completed'
          }">
          {{ videoService.callStatus }}
        </span>
      </h2>

      <!-- Alternative Consultation Message -->
      <div *ngIf="!videoService.videoConsultationAvailable" class="alternative-message">
        <p>{{this.currentLanguageSet?.notPossible}}</p>
        <button class="btn btn-primary">{{this.currentLanguageSet?.alternateNumber}}</button>
      </div>
    </div>
  </mat-card>
</div>
